.shop {
    width: 101.8%;
    height: 420vh;
    overflow: hidden;
    background: linear-gradient(220deg, #6627aa52 60%, #8359b39f 80%);
    margin: 0;
    padding: 0;
    
}
.shopTitle{
    margin: 0; /* Adjust margins as needed */
    text-align: center;
    font-size: 10px;
    letter-spacing: 5px;
    color: white; 
    width: 20rem;
    align-items: center;
    justify-content: center;
    margin-left: 30rem;
    padding: 0;
}
.products{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    place-items: start;
    margin-left: 0;
    
}

.product{
    background: linear-gradient(220deg, #6627aa52 60%, #cac0d49f 80%);
    border: 10px solid #9a71c765;
  padding: 10px;
  text-align: center;
}
.product img{
    width: 180px;
    height: 180px;
    
}
.product .description{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-size: 14px;
    color: white;

}

.product:hover{
    transition: 0.3s ease-in;
    cursor: pointer;

}

.addToCartBttn{
 background-color: rgb(187, 200, 201);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 8px;
  margin-top: 10px;
}
.addToCartBttn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    

}

