.shop {
    display: flex;
background-color: gridiante(000ee) #eee;
width:100% ;
z-index: -1;
justify-content: flex-start;
    
}
.addToCartBttn{
    background-color: grey;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
}
.addToCartBttn:hover{
    background-color: red;
    color: white;
    cursor: pointer;

}
.shopTitle{
    margin: 0; /* Adjust margins as needed */
    text-align: center;
    font-size: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 300;
}

.products{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start;
    margin-left: -60px;
    
}
.product{
    border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}
.product img{
    width: 150px;
    
}
.product .description{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    color: white;

}

.product:hover{
    transition: 0.3s ease-in;
    cursor: pointer;

}
